/* Base layer */
:root {
  --ff-body: "Red Hat Text", sans-serif;
  --ff-heading: "Red Hat Text", sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;

  --clr-primary-red: hsl(14, 86%, 42%);
  --clr-support-green: hsl(159, 69%, 38%);

  --clr-neutral-rose-50: hsl(20, 50%, 98%);
  --clr-neutral-rose-100: hsl(13, 31%, 94%);
  --clr-neutral-rose-300: hsl(14, 25%, 72%);
  --clr-neutral-rose-400: hsl(7, 20%, 60%);
  --clr-neutral-rose-500: hsl(12, 20%, 44%);
  --clr-neutral-rose-900: hsl(14, 65%, 9%);

  --clr-neutral-white: hsl(0, 0%, 100%);
}

:root {
  --background-main: var(--clr-neutral-rose-50);
  --text-base: var(--clr-neutral-rose-900);
  --text-muted: var(--clr-neutral-rose-500);
  --text-primary: var(--clr-primary-red);
  --text-hight-contrast: var(--clr-neutral-white);

  --font-size-heading-sm: var(--fs-400);
  --font-size-heading-regular: var(--fs-600);
  --font-size-heading-lg: var(--fs-700);

  --font-size-sm: var(--fs-300);
  --font-size-regular: var(--fs-400);

  --border-radius-1: 8px;
  --border-radius-2: 16px;
  --border-radius-3: 50px;
  --border-radius-cicle: 100%;
}

body {
  font-family: var(--ff-body);
  font-weight: 400;
  background-color: var(--background-main);
  color: var(--text-base);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-heading);
  font-weight: 700;
  color: var(--text-base);
}

h2 {
  font-size: var(--font-size-heading-lg);
}

h3 {
  font-size: var(--font-size-heading-sm);
  font-weight: 600;
  color: var(--text-base);
}

/* End of base layer */

/* Layout layer */
.wrapper {
  --wrapper-max-width: 1220px;
  --wrapper-padding: 2.5rem;
  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding) * 2);
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.75rem);
}

.with-sidebar {
  --sidebar-gap: 2rem;
  --sidebar-side-width: 23.75rem;
  --sidebar-content-min-width: 50%;

  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap);
}

.sidebar {
  flex-basis: var(--sidebar-side-width);
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-content-min-width);
}

.grid-auto-fill {
  --auto-fit-min-col-size: 225px;
  --auto-fit-gap: 1.5rem;

  display: grid;
  gap: var(--auto-fit-gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--auto-fit-min-col-size), 100%), 1fr)
  );
}

.with-icon {
  --with-icon-gap: 1rem;
  display: inline-flex;
  align-items: baseline;
  gap: var(--with-icon-gap);

  &[data-alignment="center"] {
    align-items: center;
  }
}

/* End of layout layer */

/* Components layer */
.sprite {
  display: none;
}

.icon {
  --_icon-width: var(--icon-width, 1.5rem);
  --_icon-height: var(--icon-height, 2rem);

  height: var(--_icon-height);
  width: var(--_icon-width);
}

.icon--add-to-cart {
  --icon-width: 1.25rem;
  --icon-height: 1.25rem;
}

.icon--quantity-control {
  --icon-height: auto;
  --icon-width: auto;
}

.button {
  box-sizing: border-box;
  display: inline-flex;
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-radius: var(--border-radius-3);
  padding: 0.5rem 1.75rem;

  > * {
    pointer-events: none;
  }
}

.button--secondary {
  color: var(--text-base);
  padding-inline: 28px;
  background: var(--clr-neutral-white);
  padding: 0.5rem 1.75rem;
  line-height: 1.858;
  border: 1px solid var(--clr-neutral-rose-500);

  &:hover {
    color: var(--clr-primary-red);
    border-color: var(--clr-primary-red);
    cursor: pointer;
  }
}

.main-content {
  --sidebar-content-min-width: 14.375rem;
  padding-block: 3rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1.5rem;
}

.product-item {
  position: relative;
  display: grid;
  gap: 2rem;
}

.product-item__image {
  border-radius: var(--border-radius-1);
  overflow: hidden;

  img {
    width: 100%;
  }
}

.product-item__actions {
  position: absolute;
  grid-row: 1 / 2;
  justify-self: center;
  bottom: 0;
  transform: translateY(50%);
  min-width: 10rem;
}

.product-item__quantity-controls {
  button:hover {
    background: var(--clr-neutral-white);
    color: var(--clr-primary-red);
    cursor: pointer;
  }
}

.product-item__quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.625rem;
  font-size: var(--font-size-regular);
  background: var(--clr-primary-red);
  padding: 12px;
  text-align: center;
  color: var(--clr-neutral-white);
  border-radius: var(--border-radius-3);

  button {
    box-sizing: border-box;
    padding: 4px;
    width: 1.125rem;
    height: 1.125rem;
    outline: 1px solid var(--clr-neutral-white);
    border-radius: var(--border-radius-cicle);
  }

  :nth-child(2) {
    flex-grow: 2;
  }
}

.product-item__category {
  color: var(--text-muted);
}

.product-item__price {
  color: var(--text-primary);
  font-weight: 600;
}

.cart-container {
  align-self: start;
  padding: 1rem;
  background: var(--clr-neutral-white);
  border-radius: var(--border-radius-2);
}

.cart-container h2 {
  font-size: var(--font-size-heading-regular);
}

.empty-cart-content {
  display: grid;
  justify-items: center;
  padding-block: 2rem;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--text-muted);
}
/* End of components layer */


/* Utilities layer */
[hidden] {
  display: none;
}

.text-primary {
  color: var(--text-primary);
}
/* End of utilities layer */
